.about{
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url('https://c4.wallpaperflare.com/wallpaper/362/276/920/nature-4k-pc-full-hd-wallpaper-thumb.jpg');
    background-position: no-repeat;
}